*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;

  margin-bottom: 16px;
}

.app-description {
  margin-bottom: 24px;
}